---
export const prerender = false;
const { title } = Astro.params;

let result;
let error;

try {
  const encodedTitle = encodeURIComponent(title!);
  const response = await fetch(`http://localhost:4321/find/${encodedTitle}`);
  
  if (!response.ok) {
    throw new Error(`Cover not found: ${response.statusText}`);
  }

  result = await response.json();
} catch (err: unknown) {
  error = (err as Error).message;
}
---
{error ? (
  <>
    <h1>Error</h1>
    <p>{error}</p>
  </>
) : (
  <>
    <h1>Results for "{title}"</h1>
    <ul>
      {result.map((item: { title: string }) => (
        <li>{item.title}</li>
      ))}
    </ul>
  </>
)}
